body{
    background-image: url("../img/texture.png");
}
.mainCol {
    color: rgba(235, 235, 235,1);
    background: rgba(39, 43, 48,0.35);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.67);
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
	padding: 10px;
}
.current{
	border-bottom: #ebebeb;
}
.navbar{
    background: #333333;
    border-color: #252525;
    border-bottom: 3px solid #ff5c00;
}
footer{
    box-shadow: 0px -3px 25px rgba(0,0,0,0.67);
    background: #333333;
    bottom: 0px;
    left: 0px;
    width:100%;
    position: fixed;
    padding-top: 5px;
    margin-top: 20px;
}
textarea{
    resize: none;
    color: black;
}
